@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
   --c-dark: #212529;
   --transition: all 0.5s ease-in-out;
}

body {
   font-family: "Poppins", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
   width: 20px;
}
::-webkit-scrollbar-track {
   background-color: transparent;
}
::-webkit-scrollbar-thumb {
   background-color: var(--bs-warning);
   border-radius: 20px;
   border: 6px solid transparent;
   background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
   background-color: #a8bbbf;
}

.navbar .btn-outline-light:hover {
   color: var(--bs-dark);
}

.navbar {
   transition: var(--transition);
}

.navbar-sticky {
   opacity: 0.9;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
   background: url(../images/header-background.jpg) center center no-repeat;
   background-size: cover;
}

#streets {
   overflow: hidden;
}

.modal-dialog {
   max-width: 1040px;
}

.map iframe {
   left: 0;
   top: 0;
   height: 500px;
   width: 100%;
   border: none;
}

.map-contact iframe {
   left: 0;
   top: 0;
   height: 300px;
   width: 100%;
   border: none;
}

.border-custom {
   border: 1px solid #444;
   transition: var(--transition);
}

.border-custom:hover {
   color: var(--bs-primary);
}

.icon {
   width: 60px;
   height: 60px;
   background-color: #555;
   display: grid;
   align-content: center;
   text-align: center;
   font-size: 32px;
   color: white;
   transition: var(--transition);
}

.icon:hover {
   background-color: var(--bs-warning);
}

.plan-box:hover .icon {
   background-color: var(--bs-warning);
   font-size: x-large;
}

.plan-box:hover p {
   font-weight: 500;
}

.plan-box:hover a {
   font-weight: 600;
}

.section-title .line {
   width: 60px;
   height: 4px;
   background-color: var(--bs-primary);
   margin: 16px auto 24px auto;
}

#former-years span a {
   color: white;
   text-decoration: none;
}

.text-glow {
   animation: flicker 1.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
   0%,
   18%,
   22%,
   25%,
   53%,
   57%,
   100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #efbf67,
         0 0 80px #efbf67, 0 0 90px #efbf67, 0 0 100px #efbf67,
         0 0 150px #efbf67;
   }

   20%,
   24%,
   55% {
      text-shadow: none;
   }
}

@media (max-width: 1000px) {
   .navbar {
      background: var(--bs-dark);
   }
   .hero .image-container {
      display: flex;
      justify-content: center;
   }
   .hero .text-container {
      text-align: center;
   }
}
